.faq-container {
    padding:0;
    margin: 0;
    list-style: none;
}

.tab-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tabs {
    overflow: hidden;
}

.tab {
    width: 100%;
    color: #fff;
    overflow: hidden;
}

.tab-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    color: #fff;
}

.tab-label::after {
    content: " + ";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.5s;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    background-color: #fff;
    transition: all 0.5s;
    color: #000;
}

.tab-content p{
    margin: 0;
}

.tab-checkbox:checked + .tab-label::after {
    content: " - ";
}

.tab-checkbox:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}

