.collection__list{
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 200px;
}

.collection__container{
  width: 50%;
  margin: 0 auto;
}

/*スライダー001*/
.slider-001 {
  width: 300px;
  position: relative;
  margin: 0 auto;
  /* overflow: hidden; */
  display: flex;
  border-radius: 6px;
}

.slide-001 {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.6s ease-in-out;
}

.slide-content-001 {
  width: 100%;
  height: 400px;
  background-color: #c8e4ff;
}

.slide-content-001 img {
  width:100%;
  object-fit: cover;
  height: 100%;
}

.prev-001,
.next-001 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.2s ease;
  border-radius: 50%;
  user-select: none;
}

.next-001 {
  right: 0;
}

.prev-001:hover,
.next-001:hover {
  background-color: rgba(128, 128, 128, 0.8);
}

.slide-caption-001 {
  color: rgb(56, 54, 54);
  font-size: 15px;
  padding: 20px 20px;
  width: 100%;
  text-align: left;
}

.slide-caption-001 span{
  font-size: 20px;
}

.numbertext {
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 16px;
  position: absolute;
  top: 0;
}
